.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #070707;
  padding: 0;
  text-align: center;
  font-size: 10px;
  color: white;
  bottom: 0;
  width: 100%;
}
