/* Home / SignUp / Login / myPage */

/* home 페이지 ////////////////////////*/
.home {
  width: 100%;
  margin: 0 auto;
  height: 89vh;
  display: flex;
}
.homeImg {
  background-image: url("../assets/Home.jpg");
  background-size: cover;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-content: center;
}
.homeImgText {
  font-size: 40px;
  margin-right: 3rem;
  margin-top: 10rem;
  line-height: 1;
  font-family: "Dongle", sans-serif;
}
.homeImgText1 {
  font-weight: bold;
}
.homeButtons {
  background-color: #fff;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeButtons a {
  color: inherit;
  text-decoration: none;
}
.homeLine {
  border-bottom: 2px solid rgb(108, 108, 108);
  color: #fff;
}
#Button1 {
  display: flex;
  font-family: "Dongle", sans-serif;
  font-size: 50px;
  font-weight: bold;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid grey;
}
.circle1 {
  font-size: 60px;
  color: rgb(255, 150, 101);
}
#Button1:focus,
#Button1:hover {
  color: rgb(255, 150, 101);
  transform: translateY(-2px);
  transition: 1s;
  font-size: 55px;
  cursor: pointer;
}
#Button2 {
  display: flex;
  padding-top: 10px;
  font-family: "Dongle", sans-serif;
  font-size: 50px;
  font-weight: bold;
  align-items: center;
  cursor: pointer;
}
.circle2 {
  font-size: 60px;
  color: lightgreen;
  /* color: rgb(136, 252, 136); */
}
#Button2:focus,
#Button2:hover {
  color: lightgreen;
  transform: translateY(-2px);
  transition: 1s;
  font-size: 55px;
}

/* signUp 페이지 ////////////////////////*/
.sign {
  width: 100%;
  margin: 0 auto;
  height: 89vh;
  display: flex;
  place-items: center;
  align-items: center;
  flex-direction: column;
  background-color: #eaecfc;
}
.signBackColor {
  width: 600px !important;
  height: 89vh;
  background-color: white;
  display: flex;
  place-items: center;
  align-items: center;
  flex-direction: column;
}
.signTitle {
  font-size: 20px;
  margin: 2rem 0;
  color: rgb(30, 30, 30);
}
.signContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signBox {
  width: 250px;
  height: 30px;
  margin: 0.5rem 0;
  margin-left: 6rem;
  padding: 0.5rem;
  border-radius: 5px;
}
.signBox:hover,
.signBox:focus {
  border: 2px solid lightgreen;
  background-color: #e7ffd1;
  cursor: pointer;
}
.signBoxText1 {
  margin-left: 6rem;
  padding: 0.2rem;
  color: rgb(0, 0, 146);
}
.signBoxText2 {
  margin-left: 6rem;
  padding: 0.2rem;
  color: rgb(173, 0, 0);
}
.idCheckButton {
  color: black;
  background-color: #d3d3d3;
  border-radius: 5px;
  height: 30px;
  margin: 0 0.7rem;
  padding: 0 0.5rem;
  font-weight: bold;
  font-family: "Dongle", sans-serif;
  font-size: 25px;
}
.idCheckButton:hover {
  font-weight: bold;
  color: white;
  background-color: grey;
  cursor: pointer;
}
.signSubmitButton {
  background-color: #e7ffd1;
  border: 1px solid #a3b98f;
  color: rgb(30, 30, 30);
  border-radius: 10px;
  width: 265px;
  height: 45px;
  margin: 2rem;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: bolder;
}
.signSubmitButton:hover {
  cursor: pointer;
  border: 3px solid lightgreen;
}
.signInLogin {
  margin-left: 0.7rem;
  padding: 0 2rem;
  text-decoration: none;
  color: black;
  background-color: #d3d3d3;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Dongle", sans-serif;
  font-size: 25px;
}
.signInLogin:hover {
  font-weight: bold;
  color: white;
  background-color: grey;
}

/* login 페이지 //////////////////////////////*/
.login {
  width: 100%;
  margin: 0 auto;
  height: 89vh;
  display: flex;
  place-items: center;
  align-items: center;
  flex-direction: column;
  background-color: #eaecfc;
}

.loginBackColor {
  width: 600px;
  height: 89vh;
  background-color: white;
  display: flex;
  place-items: center;
  align-items: center;
  flex-direction: column;
}
.loginTitle {
  text-align: center;
  font-size: 20px;
  margin: 2rem 0;
  color: rgb(30, 30, 30);
  line-height: 2;
}
.loginContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loginBox {
  width: 250px;
  height: 30px;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 5px;
}
.loginBox:hover,
.loginBox:focus {
  border: 2px solid lightgreen;
  background-color: #e7ffd1;
  cursor: pointer;
}
.loginSubmitButton {
  background-color: #e7ffd1;
  border: 1px solid #a3b98f;
  color: rgb(30, 30, 30);
  border-radius: 5px;
  width: 265px;
  height: 45px;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: bolder;
}
.loginSubmitButton:hover {
  cursor: pointer;
  border: 3px solid lightgreen;
}
.loginButtonGoogle {
  content: "\f1a0";
  background-color: white;
  border: 1.5px solid black;
  font-size: 20px;
  width: 260px;
  height: 45px;
  border-radius: 10px;
  justify-content: center;
  margin-top: 20px;
}
.loginButtonGoogle h4 span:nth-child(1) {
  color: #4285f4;
  font-size: 25px;
}
.loginButtonGoogle h4 span:nth-child(2) {
  color: #ea4335;
  font-size: 25px;
}
.loginButtonGoogle h4 span:nth-child(3) {
  color: #fbbc05;
  font-size: 25px;
}
.loginButtonGoogle h4 span:nth-child(4) {
  color: #4285f4;
  font-size: 25px;
}
.loginButtonGoogle h4 span:nth-child(5) {
  color: #34a853;
  font-size: 25px;
}
.loginButtonGoogle h4 span:nth-child(6) {
  color: #ea4335;
  font-size: 25px;
}
.loginButtonGoogle h4 span:nth-child(7) {
  color: black;
}
.loginButtonKakao {
  content: "\f1a0";
  background-color: #fee500;
  border: 1px solid black;
  font-size: 20px;
  width: 260px;
  height: 45px;
  border-radius: 10px;
  justify-content: center;
  margin-top: 10px;
}
.loginInSignText {
  margin-top: 20px;
}
.loginInSign {
  margin-left: 0.5rem;
  padding: 0 1rem;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  color: black;
  background-color: #d3d3d3;
  border-radius: 5px;
  font-family: "Dongle", sans-serif;
  font-size: 25px;
}
.loginInSign:hover {
  font-weight: bold;
  color: white;
  background-color: grey;
}
/* myPage 페이지 /////////////////////////////////*/
.myPage {
  width: 100%;
  margin: 0 auto;
  height: 89vh;
  display: flex;
}
.myPageImg {
  background-image: url("../assets/plantRoom2.jpg");
  object-fit: none;
  width: 55%;
  height: 100%;
}
.myPageContent {
  height: 100%;
  background-color: white;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.myPageTitle {
  text-align: center;
  font-size: 20px;
  margin: 2rem 0;
  color: rgb(30, 30, 30);
  font-family: "Dongle", sans-serif;
}

.myPageBox {
  background-color: rgb(255, 255, 255);
  width: 70%;
  display: grid;
  text-align: center;
  border: 2px solid #a3b98f;
}
.myPageSubTitle {
  background-color: #e7ffd1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #a3b98f;
}
.myPageInfo {
  display: grid;
  text-align: left;
  height: 200px;
  padding: 0 0.5rem;
  align-items: center;
}
.myPageMyUpLoad {
  background-color: #e7ffd1;
  border: 1px solid #a3b98f;
  color: rgb(30, 30, 30);
  border-radius: 5px;
  width: 250px;
  height: 45px;
  font-size: 20px;
  font-weight: bolder;
  margin: 2rem 0;
}
.myLove {
  background-color: #e7ffd1;
  border: 1px solid #a3b98f;
  color: rgb(30, 30, 30);
  border-radius: 5px;
  width: 250px;
  height: 45px;
  font-size: 20px;
  font-weight: bolder;
}
.myPageMyUpLoad:hover,
.myLove:hover {
  cursor: pointer;
  border: 3px solid lightgreen;
}

/* location 페이지 ////////////////////*/
.LOCATION {
  position: relative;
}
.location {
  width: 100%;
  margin: 0 auto;
  height: 89vh;
  display: flex;
  place-items: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  overflow: auto;
}
.locationTitle {
  /* margin: 2rem 0; */
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 1.5rem 0;
  color: rgb(30, 30, 30);
  background-color: #e7ffd1;
  border-bottom: 2px solid #a3b98f;
  margin-bottom: 1rem;
}
.locationContent {
  display: flex;
  gap: 10px;
}
.locationTable1 {
  border: 1px lightgreen solid;
  font-size: 0.9em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  border-collapse: collapse;
  overflow: hidden;
  background-color: white;
}
.locationTable2 {
  border: 1px lightgreen solid;
  font-size: 0.9em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  border-collapse: collapse;
  overflow: hidden;
  background-color: white;
}
.location thead {
  font-weight: bold;
  color: rgb(30, 30, 30);
  background: rgb(116, 156, 116);
  color: white;
  width: 10rem;
}
.location td {
  border: 1px solid lightgreen;
  padding: 5px;
  background: #fff;
  width: 10rem;
}
.location table td:hover {
  background-color: #e7ffd1;
}
.locationContent th,
.locationContent p {
  font-size: 20px;
  margin-bottom: 2px;
}
li {
  cursor: pointer;
}

li:hover {
  background-color: #e7ffd1;
}
.locationMap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-weight: bold;
  border: 2px solid lightgreen;
  background: white;
  width: 730px;
}
.locationMapTitle {
  padding-bottom: 0.3rem;
  background-color: rgb(116, 156, 116);
  color: white;
  width: 730px;
}

/* upload 페이지 ///////////////////////*/
.UPLOAD {
  position: relative;
}

.upload {
  width: 100%;
  margin: 0 auto;
  height: 89vh;
  display: grid;
  overflow: auto;
}
.uploadTitle {
  text-align: center;
  font-size: 20px;
  padding: 1.5rem 0;
  color: rgb(30, 30, 30);
  background-color: #e7ffd1;
  border-bottom: 2px solid #a3b98f;
}
.uploadContentTotal {
  display: flex;
}
.uploadContent1 {
  width: 50%;
  padding: 2rem 3rem;
  line-height: 2;
  border-right: 2px solid #a3b98f;
}
.uploadContent2 {
  width: 50%;
  padding: 2rem 3rem;
  line-height: 2;
}
.uploadButton {
  margin: 1rem 0;
  display: grid;
  place-items: center;
}
.uploadButton button {
  background-color: #e7ffd1;
  border: 1px solid #a3b98f;
  color: rgb(30, 30, 30);
  border-radius: 5px;
  width: 250px;
  height: 45px;
  font-size: 20px;
  font-weight: bolder;
}
.uploadButton button:hover {
  cursor: pointer;
  border: 3px solid #a3b98f;
}

/* MyListing / listing / MyLike 페이지들 ///// */

.LISTING {
  background-color: #eaecfc;
}
.listing {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  background-color: white;
  justify-content: center;
}
.listingTitleTop {
  display: flex;
  justify-content: center;
}
.listingTitle {
  width: 900px;
  text-align: center;
  font-size: 20px;
  margin: 1rem 0;
  padding: 1rem 0;
  color: rgb(30, 30, 30);
  background-color: #e7ffd1;
}
.listingFilters {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.listingFilters .dropdown-item {
  background-color: #ffffff;
  color: #333333;
  padding: 8px 16px;
  cursor: pointer;
  border: 1px solid #a3b98f;
}

.listingFilters .dropdown-item:focus {
  background-color: #e7ffd1;
  outline: none;
  font-weight: bolder;
}

.listingPost {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 40px;
  border-top: 0.5px solid #c4c4c4;
}
.listingItem {
  background-color: white;
  border: 3px solid #e7ffd1;
  padding: 0.5rem;
  line-height: 2;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
}
.listingItem .imageWrapper {
  position: relative;
}

.listingItem .imageCaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.575);
  display: grid;
  place-items: center;
  color: white;
  height: 200px;
  font-weight: bold;
  text-align: center;
  transform: translateY(-10px);
}
.listingPost .listingRow {
  display: flex;
  gap: 32px;
}
.listingPost .listingRow .listingItem:hover {
  background-color: #e7ffd1;
  border: 4px solid #a3b98f;
}

/* ListingDetail 페이지 */
.ListingDetail {
  background-color: #eaecfc;
  position: relative;
}
.listingDetail {
  width: 1200px;
  margin: 0 auto;
  height: 89vh;
  display: grid;
  overflow: auto;
  justify-content: center;
  background-color: white;
}
.listingDetailTitle {
  text-align: center;
  font-size: 20px;
  margin: 1rem 0;
  padding: 1rem 0;
  color: rgb(30, 30, 30);
  background-color: #e7ffd1;
  width: 900px;
}
.listingDetailContentTotal {
  display: grid;
  gap: 1rem;
}
.listingDetailContentTop {
  display: flex;
  gap: 1rem;
}
.listingDetailImgTotal {
  display: grid;
  place-items: center;
  width: 600px;
}
.listingDetailContentTotal h3 {
  color: white;
  background-color: #a6c48b;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}
.listingDetailKeyContent {
  padding: 1rem;
  width: 250px;
  display: grid;
  text-align: start;
  line-height: 1;
  border: 3px solid #a3b98f;
}
.listingDetailHeart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  place-items: center;
  font-weight: bolder;
}
.listingDetailContentBottom {
  width: 900px;
  border: 3px solid #a3b98f;
  line-height: 2;
  margin-bottom: 2rem;
  display: flex;
}
.listingDetailSubContent {
  width: 50%;
  padding: 1rem;
}
.listingDetailMap {
  padding: 1rem;
}
