.sentence {
  font-size: 30px;
  color: aliceblue;
  text-align: center; /*문장 박스 안에서 글자 가운데 정렬*/
  margin-bottom: 20px; /* 문장 아래 여백 조정 */
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 300px;
  align-items: flex-start;
}

/* home */
.home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.home .back {
  background-image: url("../assets/city.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: brightness(110%); /*배경이미지 밝기 조절. 기본이 100% */
  display: flex; /*가운데 정렬 쓰기 위한 기본*/
  align-items: center; /*내용 상하 가운데 정렬*/
  justify-content: center; /*내용 좌우 가운데 정렬*/
  flex-direction: column;
}
.home .sentence {
  font-size: 30px;
  color: rgb(66, 66, 66);
  display: flex; /*가운데 정렬 쓰기 위한 기본*/
  align-items: center; /*내용 상하 가운데 정렬*/
  justify-content: center; /*내용 좌우 가운데 정렬*/
  text-align: left; /* 문장 박스 안에서 글자 가운데 정렬 */
  background-color: rgba(209, 214, 225, 0.7);
  width: 60%;
  min-height: 400px;
  font-style: italic;
}
#Button {
  color: white;
  background-color: #78718d;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0px 5px 15px rgb(203, 203, 203);
  font-size: 30px;
  width: 300px;
  height: 70px;
  border: solid 2px rgb(71, 71, 71);
  border-radius: 10px;
  justify-content: center;
}

.home .buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: flex-start;
  gap: 150px;
}
#Button:hover {
  background-color: #44347a;
}

/* login */
.Login {
  background-color: #e1dbf6;
  display: flex; /*가운데 정렬 쓰기 위한 기본*/
  align-items: center; /*내용 상하 가운데 정렬*/
  justify-content: center; /*내용 좌우 가운데 정렬*/
  width: 100%;
  height: 100vh;
  font-size: 20px;
  flex-direction: column;
  text-align: center;
}
.Login div {
  margin: 30px;
}
.Login .input-group {
  width: 300px;
}
.Login .buttonGoogle {
  content: "\f1a0";
  color: white;
  background-color: #1420f7;
  font-size: 20px;
  width: 340px;
  height: 50px;
  border-radius: 10px;
  justify-content: center;
}
.Login .buttonKakao {
  content: "\f1a0";
  color: rgb(0, 0, 0);
  background-color: #f7f014;
  font-size: 20px;
  width: 340px;
  height: 50px;
  border-radius: 10px;
  justify-content: center;
  margin-top: 10px;
}
.loginButton {
  background-color: #78718d;
  font-size: 20px;
  width: 340px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkSign .linkText {
  text-decoration: none;
  color: rgb(65, 65, 65);
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  margin-top: 10px;
}

/* signup */
.Sign {
  background-color: #e1dbf6;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-size: 15px;
  flex-direction: column;
  margin-top: 40px;
}
.signupInput {
  width: 200px;
}
.Sign .submitButton {
  color: white;
  background-color: #78718d;
  font-size: 30px;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  justify-content: center;
}
.signbox {
  width: 200px;
}

/* mypage */
.MyPage {
  background-color: #e1dbf6;
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  padding-top: 50px;
  text-align: center;
}
.MyPage .Title {
  text-align: center;
  padding: 30px;
}
.MyPage .content {
  place-self: center;
  width: 50%;
  min-height: 250px;
  padding: 30px;
  text-align: left;
  background: #eceaf1;
  border: groove 10px #b3b2b2;
  line-height: 3;
}

.MyPage .myUpLoad {
  color: white;
  background-color: #78718d;
  font-size: 30px;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  justify-content: center;
  margin-top: 20px;
}

/* upload */
.upload {
  background-color: #f0fded;
  display: flex;
  /* 수직 방향 (세로)에서 요소들을 정렬하는데 사용*/
  align-items: center;
  /* 수평 방향 (가로)에서 요소들을 정렬하는데 사용 */
  justify-content: center;
  /* 텍스트의 정렬을 제어 */
  text-align: center;
}
.uploadForm {
  padding-top: 60px;
  text-align: center;
  padding-bottom: 50px;
  line-height: 50px;
}
.uploadForm h2 {
  margin: 20px 0;
}
.uploadForm .content1 {
  display: flex;
  justify-content: flex-start;
}
.uploadForm .content2 {
  display: grid;
  justify-content: flex-start;
  text-align: start;
  line-height: 50px;
}
.upload .searchAddress {
  width: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchAddress > div {
  width: 100% !important;
}
.inputMoney,
.detailAddress,
.photo {
  width: 200px;
}
.upload-Button {
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: #78718d;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  line-height: 40px;
  margin-top: 30px;
  font-size: 30px;
}

/* MyListing / listing */
.listing {
  background-color: #f8f0dc;
  width: 100%;
  text-align: center;
  min-height: 100vh;
}

.listing h1 {
  padding: 50px 0;
  padding-top: 120px;
  font-size: 40px;
}

.listing .row {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-bottom: 30px;
  padding-bottom: 40px;
}
.listing .box {
  background-color: #ffffff;
  display: grid;
  flex: wrap;
  width: 100%;
  border: 5px double rgb(81, 80, 82);
  /* border-radius: 10%; */
  box-shadow: 2px 5px 15px 5px gray;
  align-items: center;
  padding: 10px;
  font-size: 15px;
}
.listing .box:hover {
  background-color: #fedbb0;
}

.listing .filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.listing .propertyType {
  text-align: center;
  margin-left: 200px;
}

.listing .dropdown-menu {
  padding: 0;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.listing .dropdown-item {
  background-color: #ffffff;
  color: #333333;
  padding: 8px 16px;
  cursor: pointer;
  border: 1px solid rgb(101, 73, 101);
}

.dropdown-item:focus {
  background-color: #ad98be;
  outline: none;
}
.listing .priceType {
  text-align: center;
  margin-right: 180px;
}

/* ListingDetail 페이지 */
.listingDetail {
  background-color: #e1dbf6;
  width: 100%;
  text-align: center;
  min-height: 100vh;
}
.listingDetailForm {
  padding-top: 80px;
  padding-bottom: 70px;
  display: grid;
  place-items: center;
  gap: 30px;
}

.listingDetail .imgTotal {
  width: 600px;
  height: 400px;
}
.listingDetail .top {
  display: flex;
  gap: 30px;
}
.listingDetail .keyContent {
  text-align: left;
  background: #eceaf1;
  border: solid#767676;
  padding: 20px;
  width: 300px;
  line-height: 2;
}

.keyContent h3,
.content h3 {
  text-align: center;
}
.listingDetail .content {
  text-align: left;
  background: #eceaf1;
  border: solid#767676;
  padding: 20px;
  width: 930px;
  line-height: 2;
}

/* location 페이지 */
.location {
  display: grid;
  place-items: center;
  background-color: #e1dbf6;
  min-height: 100vh;
}

.location h2 {
  padding-top: 15px;
  padding-bottom: 20px;
}

.location #title {
  margin-top: 50px;
}

.location .totalContents {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding-bottom: 100px;
}

.location table {
  border: 1px #a39485 solid;
  font-size: 0.9em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  width: 120px;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}
.location thead {
  font-weight: bold;
  color: #fff;
  background: #78718d;
}

.location td {
  border: 1px solid black;
  padding: 5px;
  background: #fff;
}
.location table td:hover {
  background-color: rgb(223, 214, 224);
}
th,
p {
  font-size: 20px;
  margin-bottom: 2px;
}
li {
  cursor: pointer;
}

li:hover {
  background-color: lightgray;
}

.location .map {
  text-align: center;
  font-weight: bold;
  background: #78718d;
  color: #fff;
  border: 1px #a39485 solid;
  font-size: 0.9em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  display: table;
}

/* LocationDetail 페이지 */
.Detail-total {
  background-color: #e1dbf6;
  min-height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 50px;
}
